.headertable {
  width: max-content !important;
  color: #ffff;
  margin-bottom: 0px !important;
  height: 100%;
}
.secondHeadertable{
  width: max-content !important;
  color: #ffff;
  margin-bottom: 0px !important;
  height: 100%;
}
.th {
  border: 1px !important;
  color: #ffff;
  background-color: rgb(18, 18, 102);
  margin-bottom: 0px;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom: 0px !important;
}
.raw {
  display: flex;
  justify-content: space-between;
}
.ta {
  color: #ffff;
  background-color: rgb(12, 12, 194);
  margin-bottom: 0px;
  border-bottom: 0px !important;
  padding: 0px !important;
  border: 1px !important;
}

.td {
  border: 1px !important;
  color: #ffff;
  background-color: rgb(7, 136, 211);
  margin-bottom: 0px;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom: 0px !important;
}

.tp {
  color: #ffff;
  background-color: rgb(194, 167, 12);
  margin-bottom: 0px;
  border-bottom: 0px !important;
  padding: 0px !important;
  border: 1px !important;
}

.table-container {
  display: flex;
  width: 100%;
}

.table-column {
  flex: 1;
  padding: 10px;
}

.tabal {
  width: 100%;
  border-collapse: collapse;
}
.bt {
  border: 0px !important;
  padding: 0px !important;
}
table.notes th {
  padding-top: 3px;
  padding-bottom: 3px;
}
table.notes th {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.headertable {
  width: max-content !important;
  color: #ffff;
  margin-bottom: 0px !important;
  height: 100%;
}
.th {
  border: 1px !important;
  color: #ffff;
  background-color: rgb(18, 18, 102);
  margin-bottom: 0px;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom: 0px !important;
}

.ta {
  color: #ffff;
  background-color: rgb(12, 12, 194);
  margin-bottom: 0px;
  border-bottom: 0px !important;
  padding: 0px !important;
  border: 1px !important;
}

.bordercolor {
  border: 1px solid rgb(61, 58, 58);
}
.button5 {
  border-radius: 12px;
  background-color: rgb(202, 202, 202);
}
.table {
  border-collapse: collapse;
  width: 100%;
}

.thtext {
  padding: 3px !important;
  border-top: 0px !important;
}

.effect tr:nth-child(even) {
  background-color: #bdbdbd;
}
.yelloweffect tr:nth-child(odd) {
  background-color: #faec6f;
}
.yelloweffect tr:nth-child(even) {
  background-color: #fffad2;
}

.trtext {
  background-color: #0936b1;
  padding: 3px !important;
  color: white;
  border-top: 0px !important;
}
.underline {
  text-decoration: underline;
}
.effect2 tr:nth-child(even) {
  background-color: rgb(195, 185, 216);
}

table.auto_post .trtext {
    background-color: rgb(194, 167, 12);
}


.navbar {
  display: none;
}

.navbar .nav-link {
  color: white;
  background-color: rgb(18, 18, 102);
  padding-left: 10px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}
/* .navbar-collapse {
  justify-content: flex-end !important;
} */


@media screen and (max-width: 768px) {
 
  .navbar {
    display: block !important;
    width: 100%;
  }
  .headertable {
      display: none !important;
  }
}
.padding{
  border: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.border{
  border: 0px !important;
}
.addborder{
  border-top: 1px solid #000 !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.removepadding{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border: 0px !important;
}

.details .color{
  color: rgb(109, 105, 105);
  font-weight: normal;
  font-size:large !important;
}
.details .btncolor{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size:large !important;
}
.details .txtcolor{
  color:rgb(33, 165, 241);
}
.details .nav-tabs .nav-link {
  border: none; 
}

.details .nav-tabs .nav-link.active {
  border-bottom: 3px solid #5663af;
}

.details .tab-content .tab-pane {
  display: none; 
}
.button {
  background-color: #368bb3; /* Green */
  border: none;
  color: white;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.tata {
  background-color: #faec6f;
  border-bottom: 0px !important;
  padding:5px !important;
  border: 1px !important;
  color: #0f3dbb;
  text-align: center;
}
.underline{
  text-decoration: underline;
}
.addcolor{
  background-color: rgb(236, 229, 229);
  text-align: center;
}
.addbtn{
  background-color: rgb(17, 17, 218);
  border: none;
  color: white;
  padding: 4px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 1%;

}
.th1, .td1 {
  border-bottom: 2px solid #ada7a7;
}